body {
  background-color: #3a52b2;
  overflow: hidden;
  font-size: 18px;
  min-height: 100%;
}
body a {
  color: #3a52b2;
  font-size: 1rem;
  font-weight: 600;
}
body a:hover {
  color: #2e428e;
}
nav {
  padding: 0.8rem 3rem;
  position: fixed;
  top: 0;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  z-index: -1;
}
nav::after {
  content: '';
  display: table;
  clear: both;
}
nav .logo {
  display: inline-block;
  vertical-align: top;
}
nav .logo h3 {
  font-size: 1rem;
  color: #fff;
}
nav .links {
  display: inline-block;
  vertical-align: top;
  float: right;
}
nav .links a {
  font-size: 1rem;
  color: #fff;
}
pre {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}
xmp {
  background-color: #f2f4f8;
  color: #435ce2;
  padding: 0.8rem 1rem;
  border-radius: 14px;
  font-family: 'Roboto Mono', 'Consolas', 'Monaco', 'Lucida Console', monospace;
  line-height: 1.6rem;
  font-size: 0.9rem;
  font-weight: 500;
  margin: -1rem 0;
}
.white-fade {
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  height: 6rem;
  background: -webkit-linear-gradient(bottom, #fff, rgba(255,255,255,0));
  background: -moz-linear-gradient(bottom, #fff, rgba(255,255,255,0));
  background: -o-linear-gradient(bottom, #fff, rgba(255,255,255,0));
  background: -ms-linear-gradient(bottom, #fff, rgba(255,255,255,0));
  background: linear-gradient(to top, #fff, rgba(255,255,255,0));
  position: fixed;
  bottom: 0;
  z-index: 0;
}
.white-fade::after {
  content: '';
  display: table;
  clear: both;
}
.content {
  padding-top: 3.6rem;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}
.content .inner {
  background-color: #fff;
  border-radius: 28px 28px 0 0;
  -webkit-box-shadow: 0 0 50px 0 #3a52b2, 0 -4px 7px 0 rgba(0,0,0,0.1), 0 -1px 10px 0 rgba(0,0,0,0.5);
  box-shadow: 0 0 50px 0 #3a52b2, 0 -4px 7px 0 rgba(0,0,0,0.1), 0 -1px 10px 0 rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  padding: 3rem;
  overflow-y: scroll;
}
.content h4 {
  font-weight: 300;
}
.content section + section {
  margin-top: 1.4rem;
}
.content p,
.content b,
.content pre {
  margin-bottom: 1rem;
}
.content b {
  display: block;
}
.content .section-content {
  border-top: #dfdee3 1px solid;
  padding: 1.4rem 0;
  margin-top: 1.4rem;
}
.content .list {
  position: fixed;
}
.content .list .item a {
  color: #b0adba;
}
.content .list .item.active a {
  color: #3a52b2;
}
.content .list .item + .item {
  margin-top: 0.4rem;
}
@media only screen and (max-width: 800px) {
  .content .list {
    position: relative;
  }
}
