body {
  font-size: 18px;
  min-height: 100%;
}
body a {
  color: #3a52b2;
  font-size: 1rem;
}
body a:hover {
  color: #2e428e;
}
nav {
  padding: 0.8rem 3rem;
  background-color: #fff;
  border-bottom: 1px solid #dfdee3;
  position: fixed;
  top: 0;
  z-index: 100;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}
nav::after {
  content: '';
  display: table;
  clear: both;
}
nav .logo {
  display: inline-block;
  vertical-align: top;
}
nav .logo h3 {
  font-size: 1rem;
}
nav .links {
  display: inline-block;
  vertical-align: top;
  float: right;
}
nav .links a {
  font-size: 1rem;
}
pre {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}
.white-fade {
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  height: 6rem;
  background: -webkit-linear-gradient(bottom, #fff, rgba(255,255,255,0));
  background: -moz-linear-gradient(bottom, #fff, rgba(255,255,255,0));
  background: -o-linear-gradient(bottom, #fff, rgba(255,255,255,0));
  background: -ms-linear-gradient(bottom, #fff, rgba(255,255,255,0));
  background: linear-gradient(to top, #fff, rgba(255,255,255,0));
  position: fixed;
  bottom: 0;
  z-index: 0;
}
.white-fade::after {
  content: '';
  display: table;
  clear: both;
}
.button {
  padding: 0 2rem;
  height: 3rem;
  line-height: 2.9em;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 100px;
}
.content {
  padding-top: 2.8rem;
  width: 100%;
  min-height: 100%;
}
.content .inner {
  background-color: #fff;
  width: 100%;
  padding: 3rem;
}
.content h4,
.content h6 {
  font-weight: 300;
}
.content h6 {
  color: #68778d;
}
.content section + section {
  margin-top: 1.4rem;
}
.content p,
.content b,
.content pre {
  margin-bottom: 1rem;
}
.content b {
  display: block;
}
.content p b {
  display: inline-block;
  margin: 0;
}
.content .section-content {
  border-top: #dfdee3 1px solid;
  padding: 1.4rem 0;
  margin-top: 1.4rem;
}
.content .list {
  position: fixed;
  z-index: 0;
}
.content .list .item a {
  color: #8d99ab;
}
.content .list .item.active a {
  color: #3a52b2;
}
.content .list .item + .item {
  margin-top: 0.4rem;
}
@media only screen and (max-width: 800px) {
  .content .list {
    position: relative;
  }
}
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.8rem 1.2rem;
  color: #4c5767;
  background: #f2f4f8;
  border-radius: 14px;
  font-size: 1rem;
  font-family: 'inconsolata', 'Monaco', 'Lucida Console', monospace;
}
.hljs-comment,
.hljs-quote {
  color: #8d99ab;
  font-style: italic;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #68778d;
  font-weight: bold;
}
.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #3a52b2;
}
.hljs-string,
.hljs-doctag {
  color: #ef0f81;
}
.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #ef0f81;
  font-weight: bold;
}
.hljs-subst {
  font-weight: normal;
}
.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}
.hljs-attribute {
  font-weight: bold;
  color: #3a52b2;
}
.hljs-tag,
.hljs-name {
  color: #5a677a;
  font-weight: normal;
}
.hljs-regexp,
.hljs-link {
  color: #009926;
}
.hljs-symbol,
.hljs-bullet {
  color: #990073;
}
.hljs-built_in,
.hljs-builtin-name {
  color: #01a8da;
}
.hljs-meta {
  color: #999;
  font-weight: bold;
}
.hljs-deletion {
  background: #fdd;
}
.hljs-addition {
  background: #dfd;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
