body {
  font-family: 'Lato', sans-serif;
}
.prowl-overlay {
  background-color: #000;
  background-color: rgba(0,0,0,0.85);
}
.prowl-close {
  position: fixed;
  top: 2em;
  right: 2em;
  z-index: 4000;
  text-align: center;
  cursor: pointer;
}
.prowl-close i {
  color: rgba(255,255,255,0.3);
  font-size: 2em;
}
.prowl-close:hover i {
  color: rgba(255,255,255,0.6);
}
.prowl-modal {
  background-color: #fff;
  content: '';
  border: 1px solid rgba(34,36,38,0.15);
  border-radius: 5px;
}
.prowl-modal_header,
.prowl-modal_body,
.prowl-modal_footer {
  padding: 0 1.5em;
}
.prowl-modal_header {
  border-bottom: 1px solid rgba(34,36,38,0.15);
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}
.prowl-modal_header h2 {
  margin: 0;
  font-size: 1.4em;
}
.prowl-modal_body {
  padding-top: 2.4em;
  padding-bottom: 2.4em;
}
.prowl-modal_body h5 + p {
  margin-top: 0.4em;
}
.prowl-modal_footer {
  position: relative;
  bottom: 0;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #f9fafb;
  border-top: 1px solid rgba(34,36,38,0.15);
  border-radius: 0 0 5px 5px;
}
.prowl-modal_footer::after {
  content: '';
  display: table;
  clear: both;
}
.prowl-modal_footer .float-right .button + .button {
  margin-left: 0.5em;
}
