.prowl .button {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 0;
  color: #000;
  background-color: #3a52b2;
  outline: 0;
  padding: 0 2rem;
  text-align: center;
  border: 0;
  height: 3rem;
  line-height: 2.9em;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  vertical-align: top;
  border-radius: 100px;
}
.prowl .button.green {
  background-color: #3a52b2;
  color: #fff;
}
.prowl-close {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 4000;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  line-height: 3.4rem;
  width: 2.8rem;
  height: 2.8rem;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  transition: all 200ms ease;
}
.prowl-close i {
  color: #262c43;
  font-size: 1.4rem;
}
.prowl-close:hover {
  background-color: #3a52b2;
}
.prowl-close:hover i {
  color: #fff;
}
.prowl.open .prowl-close {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.prowl-modal {
  border-radius: 14px;
}
.prowl-modal_header,
.prowl-modal_body,
.prowl-modal_footer {
  padding: 0 2.4em;
}
.prowl-modal_header {
  padding-top: 2.4rem;
  padding-bottom: 1rem;
}
.prowl-modal_header h2 {
  margin: 0;
  font-weight: 800;
  color: #3a52b2;
  font-size: 1.5rem;
  letter-spacing: -0.4px;
}
.prowl-modal_header h2 i {
  position: relative;
  top: 4px;
  left: -1px;
}
.prowl-modal_body {
  padding-top: 1rem;
  padding-bottom: 2.6em;
}
.prowl-modal_body p {
  font-size: 1.1rem;
}
.prowl-modal_body p + p {
  margin-top: 0.6rem;
}
.prowl-modal_footer {
  position: relative;
  bottom: 0;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  background-color: #f6f9fc;
  border-radius: 0 0 14px 14px;
}
.prowl-modal_footer::after {
  content: '';
  display: table;
  clear: both;
}
.prowl-modal_footer .float-right .button + .button {
  margin-left: 0.5em;
}
@media only screen and (max-width: 800px) {
  .prowl-modal_footer {
    position: fixed;
    bottom: 0;
  }
}
