@import 'nib'
@import 'jeet'
@import 'rupture'

primary-color = #3a52b2
border-color = lighten(#b0adba, 60%)

body
	font-size 18px
	min-height 100%
	font-family 'Europa', sans-serif
	a
		color primary-color
		font-size 1.1rem
		&:hover
			color darken(primary-color, 20%)
.container
	cf()

nav
	padding .8rem 3rem
	background-color #fff
	border-bottom 1px solid border-color
	fixed top
	z-index 100
	span(1/1)
	.logo
		display inline-block
		vertical-align top
		h3
			font-size 1rem
	.links
		display inline-block
		vertical-align top
		float right
		a
			font-size 1rem

pre
	tab-size 4

.white-fade
	span(1/1)
	height 6rem
	background linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0))
	fixed bottom
	z-index 0

.button
	padding 0 2rem
	height 3rem
	line-height 2.9em
	font-size 1rem
	font-weight 600
	border-radius 100px

.content
	padding-top 2.8rem
	width 100%
	min-height 100%
	.inner
		background-color #fff
		width 100%
		padding 3rem
	h4, h6
		font-weight 300
	h6
		color lighten(#4c5767, 20%)
	section + section
		margin-top 1.4rem
	p, b, pre
		margin-bottom 1rem
	b
		display block
	p b
		display inline-block
		margin 0
	.section-content
		border-top border-color 1px solid
		padding 1.4rem 0
		margin-top 1.4rem
	.list
		position fixed
		z-index 0
		.item
			a
				color lighten(#4c5767, 40%)
			&.active
				a
					color primary-color
			& + .item
				margin-top .4rem
		+below('m')
			position relative

.download
	&-link
		display block
		margin-top 1rem
		.button
			display block
			width 100%
	&-type
		text-align center
		padding 2.8rem 1.6rem
		h5
			color primary-color
			display block
			margin-bottom .2rem
		p
			color lighten(#4c5767, 20%)
		.input
			input
				width 100%
				font-size 1rem
				font-family 'Europa', sans-serif
				min-width 0
				border-radius 100px
				height 3rem
				font-weight 600
				padding 0 1.4rem
	.col
		& + .col
			border-left 1px solid border-color
	+below('m')
		absolute top 50%
		transform translateY(-50%)
		transform-style preserve-3d
		.col + .col
			border-left 0
			border-top 1px solid border-color

.hljs
	display block
	overflow-x auto
	padding 0.8rem 1.2rem
	color #4c5767
	background #f2f4f8
	border-radius 14px
	font-size 1rem
	font-family 'inconsolata', 'Monaco', 'Lucida Console', monospace

.hljs-comment,
.hljs-quote
	color lighten(#4c5767, 40%)
	font-style italic

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst
	color lighten(#4c5767, 20%)
	font-weight bold

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr
	color primary-color

.hljs-string,
.hljs-doctag
	color #ef0f81

.hljs-title,
.hljs-section,
.hljs-selector-id
	color #ef0f81
	font-weight bold

.hljs-subst
	font-weight normal

.hljs-type,
.hljs-class .hljs-title
	color #458
	font-weight bold

.hljs-attribute
	font-weight bold
	color primary-color

.hljs-tag,
.hljs-name
	color lighten(#4c5767, 10%)
	font-weight normal

.hljs-regexp,
.hljs-link
	color #009926

.hljs-symbol,
.hljs-bullet
	color #990073

.hljs-built_in,
.hljs-builtin-name
	color #01a8da

.hljs-meta
	color #999
	font-weight bold

.hljs-deletion
	background #fdd

.hljs-addition
	background #dfd

.hljs-emphasis
	font-style italic

.hljs-strong
	font-weight bold
