@import 'nib'
@import 'jeet'
@import 'rupture'

primary-color = #3a52b2

body
	font-family 'Europa', sans-serif

.prowl
	.button
		display inline-block
		position relative
		overflow hidden
		border-radius 0
		color #000
		background-color primary-color
		outline 0
		padding 0 2rem
		text-align center
		border 0
		height 3rem
		line-height 2.9em
		font-size 1rem
		font-weight 600
		cursor pointer
		transition all 0.2s ease
		vertical-align top
		border-radius 100px
		&.green
			background-color primary-color
			color #fff
	&-close
		fixed top 2rem right 2rem
		z-index 4000
		text-align center
		cursor pointer
		background-color #fff
		border-radius 50%
		line-height 3.4rem
		width 2.8rem
		height 2.8rem
		transform scale(0)
		transition all 200ms ease
		i
			color rgba(38, 44, 67, 1)
			font-size 1.4rem
		&:hover
			background-color primary-color
			i
				color #fff
	&.open
		.prowl-close
			transform scale(1)
	&-modal
		border-radius 14px
		&_header, &_body, &_footer
			padding 0 2.4em
		&_header
			padding-top 2.4rem
			padding-bottom 1rem
			h2
				margin 0
				font-weight 800
				color primary-color
				font-size 1.5rem
				letter-spacing -.4px
				i
					position relative
					top 4px
					left -1px
		&_body
			padding-top 1rem
			padding-bottom 2.6em
			p
				font-size 1.1rem
				& + p
					margin-top .6rem
		&_footer
			relative bottom 0
			span(1/1)
			padding-top 1.4rem
			padding-bottom 1.4rem
			background-color #f6f9fc
			border-radius 0 0 14px 14px
			.float-right
				.button + .button
					margin-left .5em
			+below('m')
				fixed bottom
